button {
    cursor: pointer;
}

.primary-button {
    width: 100%;
    border-radius: 1rem;
    padding: 0.8rem 0;
    background-color: var(--color-purple-500);
    color: white;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: background-color 0.3s ease-in-out;
}

.primary-button:hover {
    background-color: var(--color-purple-600);
}

.secondary-button {
    width: 100%;
    border-radius: 1rem;
    padding: 0.7rem 0;
    background-color: transparent;
    color: var(--color-purple-500);
    font-weight: 600;
    border: 2px solid var(--color-purple-500);
    box-shadow: rgba(149, 157, 165, 0.15) 0px 4px 12px;
    transition: background-color 0.3s ease-in-out;
}

.secondary-button:hover {
    background-color: white;
}
